/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --bg-color: #f0f0f0;
  --box-shadow: rgba(0,0,0,0.1);
  --display-btn: #4CAF50;
  --display-btn-hover: #275a2a;
  --delete-btn: #f44336;
  --delete-btn-hover: #741d1b;
  --submit-btn: #2196F3;
  --submit-btn-hover: #073a64;

  
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  padding: 20px;
  background-color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 35rem;
  margin: 0 auto;
}

.block {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--box-shadow);
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in;
}

#displayTodos {
  background-color: var(--display-btn);
  color: white;
}

#displayTodos:hover {
  background-color: var(--display-btn-hover);
}

#submitTodo {
  background-color: var(--submit-btn);
  color: white;
}

#submitTodo:hover {
  background-color: var(--submit-btn-hover);
}

#deleteTodo {
  background-color: var(--delete-btn);
  color: white;
}

#deleteTodo:hover {
  background-color: var(--delete-btn-hover);
}

input {
  display: block;
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;

}
